{% extends 'base.html.twig' %}

{% block body %}
    <section class="py-5 text-center container ">
        <div class="row py-md-0">
            <div class="col-lg-10 col-md-8 mx-auto">
                <h1 class="fw-light">{{ list.name }}</h1>
                <p class="lead text-muted">
                    Creation date: {{ list.createdAt|date('d.m.Y')}} |
                    Total number of tasks: {{ tasks|length }} |
                    Number of unfinished tasks: {{ list.totalTasks - list.completedTasks }} |
                    {% if list.totalTasks != 0 %}
                    Completed tasks: {{ ((list.completedTasks/list.totalTasks)*100)|number_format(0,'.', ',') }}%  %
                    {% else %}
                    Completed tasks: 0%
                    {% endif %}
                </p>
                <p class="lead text-muted">Order by:
                <form method="post" action="{{ path('app_show_tasks',{listId: list.id}) }}" >
                    <div class="d-inline-flex gap-2 justify-content-center">
                        <select name="orderBy" required class=" dropdown-menu position-static d-grid gap-1 p-2 rounded mx-0 shadow w-220px">
                            <option {% if orderBy == 'task' %}selected{% endif %} class="dropdown-item rounded-2" value="task">Name</option>
                            <option {% if orderBy == 'deadline' %}selected{% endif %} class="dropdown-item rounded-2" value="deadline">Deadline</option>
                            <option {% if orderBy == 'status' %}selected{% endif %} class="dropdown-item rounded-2" value="status">Status</option>
                            <option {% if orderBy == 'priority' %}selected{% endif %} class="dropdown-item rounded-2" value="priority">Priority</option>
                        </select>
                        <input type="submit" class=" btn btn-sm btn-secondary position-static d-grid gap-1  rounded" value="Submit">
                    </div>
                </form>
                </p>
            </div>
        </div>
    </section>
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for task in tasks %}
                <div class="col">
                    <div class="card shadow-sm ">
                        <div class="card-body">
                            <p class="card-title">{{ task.task }}</p>
                            {% if task.priority == 1 %}<small class="card-text text-muted">Task priority: High</small>{% endif %}
                            {% if task.priority == 2 %}<small class="card-text text-muted">Task priority: Medium</small>{% endif %}
                            {% if task.priority == 3 %}<small class="card-text text-muted">Task priority: Low</small>{% endif %}
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <a class="text-decoration-none"
                                           href="{{ path('app_edit_task',{listId: list.id, taskId: task.id}) }}">
                                            Edit
                                        </a>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" >
                                        <a class="text-decoration-none text-danger"
                                           href="{{ path('app_task_delete',{taskId: task.id, listId: list.id}) }}">Delete
                                        </a>
                                    </button>
                                    {% if(task.status == false) %}
                                    <button type="button" class="btn btn-sm btn-outline-secondary" >
                                        <a class="text-decoration-none text-primary"
                                           href="{{ path('app_complete_task', {taskId: task.id, listId: list.id}) }}">Complete task
                                        </a>
                                    </button>
                                    {% endif %}
                                </div>
                                {% if(task.status == true) %}
                                <small class="text-primary">Task Completed</small>
                                {% endif %}
                                <small class="text-muted">Deadline: {{ task.deadline|ago }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}